<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link href="{{ url_for('static', path='styles.css') }}" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', path='image/owl.ico') }}"
    />
    <style>
      body {
        height: 100vh;
        background: linear-gradient(25.06deg, #e4f1ed 20.8%, #ffffff 66.53%);
      }
      .btnIcon:hover > i,
      .btnIcon:focus > i {
        color: #007b5e;
      }
      .container div {
          float: left;
        }
        .col-1-2 {
          width: 50%;  
        }
          </style>
    <title>POCKET MEMORY</title>
  </head>
  <body>
    <section class="nav-section d-flex w-100">
      {% include 'components/nav.html' %}
    </section>
    <div class="container">
    <div class="col-1-2">
      <br>
    {% if not token %}
    <p>Sorry our admin didn`t refresh access token for common dropbox cloud. But you can use your own dropbox cloud.</p>
    {% endif %}
    {% if token %}
    <section>
      <form method="post" action="/api/v1/web/uploadfiles" enctype="multipart/form-data" class="d-flex align-content-center justify-content-center gap-3">
        <div class="w-50">
          <label for="file-text" class="form-label">Upload your common Files</label>
          <input class="form-control" name="file" id="file" type="file" accept="image/*,.pdf,.doc," size="" onchange="document.getElementById('file-text').textContent = this.files.length > 0 ? this.files[0].name : 'Select a file'">
        </div>
          <button type="submit" class="btn btn-large btn-primary h-50 mt-auto">Upload</button>
      </form>
    </section>
    {% endif %}
    {% if links %}
    {% for item in links%}
      <ul>
        <li>
          <a target="_blank" href="{{item.link}}" role="button" class="outline"
            >{{item.name}}</a>
        </li>
      </ul>
      {% endfor %}
      {% endif %}
    </div>
    <div class="col-1-2">
      <br>
    <section class="user_files"></section>
    Your own dropbox cloud
        {% if user_token %}
        <form method="post" action="/api/v1/web/uploadfiles" enctype="multipart/form-data" class="d-flex align-content-center justify-content-center gap-3">
          <div class="w-50">
            <label for="file-text" class="form-label">Upload your own Files</label>
            <input class="form-control" name="user_file" id="user_file" type="file" accept="image/*,.pdf,.doc," size="" onchange="document.getElementById('file-text').textContent = this.files.length > 0 ? this.files[0].name : 'Select a file'">
          </div>
            <button type="submit" class="btn btn-large btn-primary h-50 mt-auto">Upload</button>
        </form>
        {% if user_links %}
          {% for item in user_links%}
          <ul>
            <li>
              <a target="_blank" href="{{item.link}}" role="button" class="outline"
                >{{item.name}}</a>
            </li>
          </ul>
          
          {% endfor %}
          {%endif%}
        {% endif %}
        {% if not user_token %}
        <form action="/api/v1/web/uploadfiles" method="post">
          <input type="text" id="token" name="token" class="token" value="Enter access token"/>
          <button>Get access!</button>
        </form>
            <a href="https://dropbox.com/developers/reference/getting-started#app%20console">How use it.</a>
        {% endif %}
  </section></div></div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
      integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
      crossorigin="anonymous"
    ></script>
  </body>
</html>