<section class="container d-flex justify-content-center my-5">
  <div class="containerTab">
    <div class="tabs">
      <button class="btnNews btn1 active" id="1">Section 1</button>
      <button class="btnNews btn2" id="2">Section 2</button>
      <button class="btnNews btn3" id="3">Section 3</button>
    </div>
    <div class="sections">
      <div class="content content1 active">
        <h2>Heading 1</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perspiciatis
          odit veritatis exercitationem molestiae quos qui! Similique ad eius a.
          Nihil, necessitatibus vitae. Fugit at atque odit rerum corporis, animi
          consequatur nemo explicabo numquam sunt ex iusto ad inventore sed
          enim.
        </p>
      </div>
      <div class="content content2">
        <h2>Heading 2</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio
          necessitatibus incidunt voluptate nesciunt inventore aperiam, voluptas
          natus similique veritatis eveniet nisi minus itaque ratione rem vero,
          non totam, omnis autem quibusdam deserunt culpa porro sint ipsum.
          Deleniti quam officiis magni!
        </p>
      </div>
      <div class="content content3">
        <h2>Heading 3</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit adipisci
          laborum labore iure eligendi autem et! Modi sequi, error consectetur
          pariatur dolores porro quibusdam quaerat tempora eligendi ex,
          molestias voluptatum at maiores nostrum et, voluptas culpa veniam
          omnis officia dicta.
        </p>
      </div>
    </div>
  </div>
</section>
