<section class="container d-flex justify-content-center my-5">
  <div class="containerTab">
    <div class="tabs">
      <button class="btnNews btn1 active" id="1">Sport</button>
      <button class="btnNews btn2" id="2">News</button>
      <button class="btnNews btn3" id="3">Currency exchange</button>
      <button class="btnNews btn4" id="3">Weather</button>
    </div>
    <div class="sections">
      <div class="content content1 active">
        <h2>Текущие события из мира футбола и бокса</h2>
        <p>: <a href="{{sport.foot1_href}}">{{sport.foot1}}</a></p>
        <p>: <a href="{{sport.foot2_href}}">{{sport.foot2}}</a></p>
        <p>: <a href="{{sport.foot3_href}}">{{sport.foot3}}</a></p>
        <p>: <a href="{{sport.box1_href}}">{{sport.box1}}</a></p>
        <p>: <a href="{{sport.box2_href}}">{{sport.box2}}</a></p>
        <p>: <a href="{{sport.box3_href}}">{{sport.box3}}</a></p>
      </div>
      <div class="content content2">
        <h2>Некоторые новости за последние минуты</h2>
        <p>: <a href="{{news.oboz1_href}}">{{news.oboz1}}</a></p>
        <p>: <a href="{{news.oboz2_href}}">{{news.oboz2}}</a></p>
        <p>: <a href="{{news.korr1_href}}">{{news.korr1}}</a></p>
        <p>: <a href="{{news.korr2_href}}">{{news.korr2}}</a></p>
        <p>: <a href="{{news.bbc1_href}}">{{news.bbc1}}</a></p>
        <p>: <a href="{{news.bbc2_href}}">{{news.bbc2}}</a></p>
      </div>
      <div class="content content3">
        <h2>Список валюты по банкам на сегодня</h2>
        <p>: <a href="https://privatbank.ua/ru/rates-archive">{{valute.bank1_usd}}</a></p>
        <p>: <a href="https://bank.gov.ua/ua/markets/exchangerates">{{valute.bank2_usd}}</a></p>
        <p>: <a href="https://my.ukrsibbank.com/ru/personal/operations/currency_exchange/">{{valute.bank3_usd}}</a></p>
        <p>: <a href="https://privatbank.ua/ru/rates-archive">{{valute.bank1_eur}}</a></p>
        <p>: <a href="https://bank.gov.ua/ua/markets/exchangerates">{{valute.bank2_eur}}</a></p>
        <p>: <a href="https://my.ukrsibbank.com/ru/personal/operations/currency_exchange/">{{valute.bank3_eur}}</a></p>
      </div>
      <div class="content content4">
        <h2>Погода в правильных городах сейчас</h2>
        <p>: <a href="https://www.gismeteo.ua/weather-kyiv-4944/now/">{{weather.gis1}}</a></p>
        <p>: <a href="https://www.gismeteo.ua/weather-washington-7150/now/">{{weather.gis2}}</a></p>
        <p>: <a href="https://www.gismeteo.ua/weather-london-744/now/">{{weather.gis3}}</a></p>
      </div>
    </div>
  </div>
</section>
